<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879856995715-sokvtsg4k3f8e7ggg37n5121kc4kk171.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879856995715-sokvtsg4k3f8e7ggg37n5121kc4kk171</string>
	<key>API_KEY</key>
	<string>AIzaSyDoj4sZYngZWw2X3zG3UBwVtlh00l4sQbc</string>
	<key>GCM_SENDER_ID</key>
	<string>879856995715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.imarishin.VitaMi</string>
	<key>PROJECT_ID</key>
	<string>vitami-77d59</string>
	<key>STORAGE_BUCKET</key>
	<string>vitami-77d59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879856995715:ios:4f7265eb315cc446fffab6</string>
</dict>
</plist>