<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656467494938-o39gdncjth095hv2e6lkh224bn5j71aq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656467494938-o39gdncjth095hv2e6lkh224bn5j71aq</string>
	<key>API_KEY</key>
	<string>AIzaSyALyjcGlXxDpaySzK2xnVA29X9ffmoarYA</string>
	<key>GCM_SENDER_ID</key>
	<string>656467494938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.imarishin.VitaMi</string>
	<key>PROJECT_ID</key>
	<string>vitami-ba487</string>
	<key>STORAGE_BUCKET</key>
	<string>vitami-ba487.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656467494938:ios:2a1d70f82b7ab7f09629a3</string>
</dict>
</plist>